.overview {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.overview__section-favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overview__section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
