.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  box-shadow: 0 0 10px 0 var(--card-shadow);
}

.navigation__top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navigation__logo {
  width: clamp(7rem, 10vw, 10rem);
  height: 100%;
  margin-right: 2rem;
}

.navigation__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.navigation__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: clamp(2rem, 2vw, 5rem);
}

.navigation__item {
  cursor: pointer;
}

.navigation__link {
  text-decoration: none;
  color: var(--dark-secondary);
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: 600;
}

.navigation__link--active {
  color: var(--globant-green);
}

.navigation__button {
  display: flex;
  align-items: center;
  font-size: clamp(0.8rem, 2vw, 1rem);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  gap: 1rem;
  background-color: var(--globant-green);
  color: var(--dark-primary);
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 5px 0 var(--card-shadow);
}

.navigation__button-icon {
  width: clamp(1.5rem, 1vw, 1.5rem);
}

.navigation__button-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.navigation__menu-icon {
  display: none;
  width: 2.5rem;
  background: none;
  border: none;
}

.navigation__button-darkmode {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.navigation__button-darkmode-icon {
  width: clamp(2rem, 1vw, 3rem);
}

/* MEDIA QUERIES */

@media (max-width: 450px) {
  .navigation {
    flex-direction: column;
    gap: 3rem;
  }
  .navigation__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navigation__menu {
    display: none;
    width: 100%;
  }

  .navigation__menu-icon {
    display: flex;
    background: none;
    border: none;
    align-items: center;
  }

  .navigation__button-menu {
    display: flex;
    background: none;
    border: none;
    align-items: center;
  }

  .navigation__menu-open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navigation__list {
    text-align: center;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}

@media (max-width: 240px) {
  .navigation__logo {
    display: none;
  }

  .navigation__top {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}
