.card__button {
  background: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.card__button:hover {
  scale: 0.95;
}

.card__button-favorite {
  border: 2px solid var(--globant-green);
}

.card__button-remove {
  font-size: clamp(0.6rem, 2.5vw, 1.2rem);
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-inline: 1rem;
  border: 2px solid var(--globant-red);
  color: var(--globant-red);
}

.card__button-remove-favorite-contacts {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: 2px solid var(--globant-red);
  color: var(--globant-red);
}

.card__button-delete {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: 2px solid var(--globant-red);
  color: var(--globant-red);
}

.card__button-edit {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: 2px solid var(--globant-green);
  color: var(--globant-green);
}

.card__button-icon {
  width: clamp(1.5rem, 2vw, 2rem);
  padding: 0.2rem;
}

@media screen and (max-width: 319px) {
  .card__button-remove {
    padding: 0.2;
  }

  .card__button-text {
    display: none;
  }
}
