.card__button {
  background: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card__button:hover {
  scale: 0.95;
}

.card__button-favorite {
  border: 2px solid var(--globant-green);
}

.card__button-remove {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-inline: 1rem;
  border: 2px solid var(--globant-red);
  color: var(--globant-red);
}

.card__button-remove-favorite-contacts {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: 2px solid var(--globant-red);
  color: var(--globant-red);
}

.card__button-delete {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: 2px solid var(--globant-red);
  color: var(--globant-red);
}

.card__button-edit {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: 2px solid var(--globant-green);
  color: var(--globant-green);
}

.card__button-icon {
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
}
