.empty__message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 1.5rem 3rem;
  border-radius: 5rem;
}

.empty__message-title {
  color: var(--dark-secondary);
}
