/* STYLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --color-background-body: #00074d;
  --color-text-main: #fff;
  --color-text-secondary: #f7d72b;
  --shadow-text: 0 10px 20px rgba(0, 0, 0, 100);
  --margin-sections: 20rem;
}

/* GLOBAL STYLES */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Harding Text Web Regular Regular";
}

/* ARTICLE */

.magazine {
  width: 80vw;
  margin: 5rem 0 5rem 0;
  background-image: url(../images/rainy-forest.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

/* ARTICLE HEADER */
article header {
  padding: 4rem 5rem;
  text-shadow: var(--shadow-text);
}

article header h1 {
  font-size: 15vw;
  line-height: 0.8;
  color: var(--color-text-main);
}

article header h3 {
  font-size: 1.6rem;
  color: var(--color-text-main);
}

article header hr {
  border: 1px solid var(--color-text-main);
}

/* ARTICLE SECTION MAIN */

article section {
  margin-top: var(--margin-sections);
  margin-bottom: var(--margin-sections);
  display: flex;
  justify-content: end;
  align-items: center;
}

article section div {
  margin-right: 13rem;
  width: 30%;
}

article section div h2 {
  font-size: 8rem;
  font-family: "Industrial Gothic W01 Single";
  color: var(--color-text-secondary);
  text-align: start;
  line-height: 0.9;
}

article section div hr {
  border: 1px solid var(--color-text-main);
}

article section div p {
  margin-top: 0.5rem;
  color: var(--color-text-main);
  font-family: "Harding Text Web Regular Regular";
  text-align: left;
  font-size: 2rem;
  text-wrap: wrap;
  line-height: 1;
}

/* ARTICLE FOOTER */

article footer {
  color: var(--color-text-main);
  max-height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid var(--color-text-main);
  margin: 0 5rem 5rem 5rem;
  gap: 2rem;
}

article footer section {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.1rem;
  padding-top: 1rem;
  text-shadow: var(--shadow-text);
}
