:root {
  --color-primary: #000;
  --color-secondary: #ffe200;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 3rem;
  --font-size-large: 1.5rem;
  --font-size-icon: 24px;
  --border-active: 5px solid var(--color-secondary);
  --box-shadow-nav: 0 1rem 2rem var(--color-shadow);
}

.nav {
  box-shadow: var(--box-shadow-nav);
}

.nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-small) var(--spacing-medium);
}

.nav__logo-container {
  display: flex;
  align-items: center;
}

.nav__logo {
  height: 5rem;
}

.nav__hamburger {
  background: none;
  border: none;
  font-size: var(--font-size-icon);
  cursor: pointer;
}

.nav__list {
  list-style: none;
  display: none;
  flex-direction: column;
  text-align: center;
  gap: var(--spacing-medium);
}

.nav__link {
  text-decoration: none;
  font-size: var(--font-size-large);
  color: var(--color-primary);
  padding: var(--spacing-small) var(--spacing-medium);
}

.nav__link--active {
  border-bottom: var(--border-active);
}

.nav__item {
  padding: var(--spacing-small) var(--spacing-medium);
  cursor: pointer;
  width: 100%;
}

.nav__list--open {
  display: flex;
  padding-bottom: var(--spacing-medium);
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-small) var(--spacing-medium);
  }

  .nav__list {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    gap: var(--spacing-medium);
    padding: var(--spacing-medium) var(--spacing-large) var(--spacing-medium) 0;
  }

  .nav__hamburger {
    display: none;
  }
}
