.card {
  width: 100%;
  background-color: var(--background-containers);
  border-radius: 10px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  font-size: 2rem;
  font-family: "Roboto bold", sans-serif;
}

.card__resolved {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a5d6a7;
}

.card__unresolved {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ef9a9a;
}

.card__resolved,
.card__unresolved {
  font-size: 1.3rem;
}

.card__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Roboto normal", sans-serif;
  font-size: 1.2rem;
}

.card__footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__priority {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 5px;
  gap: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--priority);
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 2rem;
  padding-block: 1rem;
  border-radius: 20px;
  border: none;
  gap: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  background-color: var(--button-delete);
  cursor: pointer;
}
