@import url("https://fonts.cdnfonts.com/css/grisly-beast");
@import url("https://fonts.cdnfonts.com/css/simpsonfont-3");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}
