:root {
  --spinner-size: 10rem;
  --spinner-border-size: 1rem;
  --spinner-padding: 2rem;
  --spinner-color-background: #f3f3f3;
  --spinner-color-accent: #fed90f;
  --animation-duration: 2s;
  --animation-timing-function: linear;
}

.spinner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.spinner__loader {
  width: var(--spinner-size);
  height: var(--spinner-size);
  padding: var(--spinner-padding);
  border: var(--spinner-border-size) solid var(--spinner-color-background);
  border-radius: 50%;
  border-top: var(--spinner-border-size) solid var(--spinner-color-accent);
  border-bottom: var(--spinner-border-size) solid var(--spinner-color-accent);
  animation: spin var(--animation-duration) var(--animation-timing-function)
    infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
