@import url('https://fonts.cdnfonts.com/css/adobe-clean');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary);
  font-family: 'Adobe Clean', sans-serif;
}

.spinner__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
